---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Página de inicio";
import Greeting from "../components/Greeting.jsx";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Mi impresionante subtítulo del blog</h2>
  <Greeting
    client:load
    greeting={["Hola", "Buen dia", "Excelente que estes aqui"]}
  />
</BaseLayout>
